* {
     font-family: 'Quicksand', sans-serif;
}

h1 {
     float: left;
     color: white;
     padding: 15px 20px 0px 20px;
     margin: 0 auto;
}

body {
     margin: 0;
     background: #caebf2;
}

.naviBar {
     height: 10%;
     background: #eeaa7b;
     border: 10px solid #caebf2;
}

.naviLink {
     font-size: 20px;
     float: right;
     padding: 23px 20px 0px 20px;
     width: 120px;
     height: 100%;
     text-align: center;
     box-sizing: border-box;
}

.naviLink:hover {
     background: #e37222;
}

a {
     color: white;
     text-decoration: none;
}

.sidebar {
     float: left;
     width: 30%;
     height: 85%;
}

.content {
     float: right;
     width: 70%;
}
