#contact {
  text-align: -webkit-center;
}

#contactTitle {
  font-size: 50px;
  padding-top: 30px;
}

#contactOptions {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  width: 60%;
}

embed {
  border-radius: 10px;
  height: 50vh;
  margin-top: 5vh;
  width: 60vh;
}

#news {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width:990px) {
  #news {
    display: block
  } 
}