#contact {
  text-align: -webkit-center;
}

#contactTitle {
  font-size: 50px;
  padding-top: 30px;
}

#contactOptions {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  width: 60%;
}
