#headerBar {
  border-bottom: 2px solid black;
  display: flex;
  height: 17%;
  justify-content: space-evenly;
}

#title {
  font-size: 60px;
  line-height: 15vh;
}

#iconsLeft,
#iconsRight {
  display: flex;
  padding-top: 5px;
  justify-content: space-evenly;
  text-align: center;
  width: 30vw;
}

.icon {
  color: black;
  cursor: pointer;
  text-align: center;
}
