#headerBar {
  align-items: center;
  border-bottom: 2px solid black;
  display: flex;
  height: 15%;
  justify-content: space-evenly;
  position: sticky;
  top: 0px;
}

#title {
  font-size: 5vw;
  line-height: 15vh;
  text-align: center;
  width: 40vw;
}

#iconsLeft,
#iconsRight {
  display: flex;
  padding-top: 5px;
  justify-content: space-evenly;
  text-align: center;
  width: 30vw;
}

.icon {
  color: black;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width:990px) {
  .icon img {
    height: 30px;
    width: 30px;
  }
  .icon p {
    font-size: 2vw;
  }
}