#projects {
}

#projectsList {
  padding-bottom: 15px;
  text-align: center;
  width: 100%;
}

.projectRow {
  align-items: center;
  display: inline-flex;
  justify-content: space-evenly;
  padding: 50px 10px 0px 10px;
  width: 95%;
}

.projectCard {
  border: 2px solid black;
  border-radius: 10px;
  height: 100%;
  padding: 10px;
  width: 40%;
}

.projectTitleAndDate {
  height: 30px;
  padding-bottom: 10px;
}

.projectTitle {
  color: white;
  float: left;
  font-size: 30px;
}

.projectDate {
  float: right;
  font-size: 20px;
}

.technologies {
  font-style: italic;
  padding-bottom: 15px;
}

.projectDescription {
  padding-bottom: 15px;
}

.links {
  display: inline-flex;
  justify-content: space-evenly;
  width: 70%;
}

.projectLink img {
  height: 60px;
  width: 60px;
}

@media screen and (max-width:990px) {
  .projectTitle {
    font-size: 18px;
  }
  .projectLink img {
    height: 40px;
    width: 40px;
  }
  .projectTitleAndDate {
    display: grid;
  }
  .projectDate {
    font-size: 14px;
  }
  .technologies {
    font-size: 12px;
  }
  .projectDescription {
    font-size: 12px;
  }
}